[Unit]
Description=c3s-server
After=network.target

[Service]
User=centos
Group=centos
WorkingDirectory=/opt/c3s-server
ExecStart=/usr/bin/node bin/www.js

[Install]
WantedBy=multi-user.target
