[Unit]
Description=instance of app
After=network.target

[Service]
User=centos
Group=centos
WorkingDirectory=/opt/app
ExecStart=/opt/app/app 5000

[Install]
WantedBy=multi-user.target
